---
layout: default
---

{{ content }}
{% assign contentwonl = content | strip_newlines %} {% unless contentwonl == ""  %} <br /> {% endunless %} <!-- add line break if there is any content -->

{%- if site.posts.size > 0 -%}
<p>Articoli in evidenza:</p>
  <ul>
    {%- for post in site.posts -%}
    {%- if post.pinned -%}
    <li>
      <!-- {%- assign date_format = "%Y-%m-%d" -%} -->
      {%- assign date_format = "%d-%m-%Y" -%}
      📌 [ {{ post.date | date: date_format }} ] <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      <br />
      🏷️ categoria:
      <b class="{{ post.categories }}">{{ post.categories }}</b>
      <p></p>
    </li>
    {%- endif -%}
    {%- endfor -%}
  </ul>

  <a href="{{ post.url | relative_url }}"> 👉 Tutti gli Articoli </a>
{%- endif -%}


